<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Register to Take</title>
    <!-- Material Icon CDN -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Path of the materialize.min.css file -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen,projection" />
    <!-- Used as an example only to position the footer at the end of the page.
      You can delete these styles or move it to your custom css file -->
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }  
      main {
        flex: 1 0 auto;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="grey darken-4">
        <div class="nav-wrapper">
          <div class="container">
            <a href="#" class="brand-logo">Online Exam System</a>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="row">
          <div class="container">
              <div class="card-panel white center">
                  <p class="grey-text fs-24">Bacolod City College</p>
                  <h1 class="green-text">Online Examination System</h1>
                  <div class="divider"></div>
                  <p>Before taking the online exams, you must create an account first or login if you already have one</p>
                  <a href="{{ url_for('login') }}" class="waves-effect waves-light btn-large blue accent-4">Sign-in</a>
                  <a href="{{ url_for('register') }}" class="waves-effect waves-light btn-large grey darken-3">Sign-up</a>
              </div>
          </div>
      </div>
    </main>
    <footer class="page-footer green accent-4">
      
      <div class="footer-copyright">
        <div class="container">
          © 2018 Cofi.co Solutions
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <!-- The jQuery file path -->
      <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <!-- Path of the materialize.min.js file -->
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script>
      $("document").ready(function(){
        $(".button-collapse").sideNav();
      });
    </script>
  </body>
</html>