{% extends 'base.html' %}
{% block title %}General Instructions{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="card-panel">
            <div class="center">
                <h1>General Instructions</h1>
                <p><i>Online Entrance Exam</i></p>
            </div>
            <div class="divider"></div>
            <p>INSTRUCTIONS</p>
            <ol>
                <li>This is a test to know how well you can solve different kinds of problem</li>
                <li>You are to darken the circle provided in the separate answer sheet to identify your correct answer.</li>
                <li>You are given one (1) hour to answer this test. If you finish the time ends, you can review</li>
                <li>No other instructions be given after the start of the test.</li>
            </ol>

            <br><br>
            <p>SUBJECT AREAS</p>
            <p>The exam contains the following subject areas tabulated below:</p>
            <table class="bordered">
                <thead>
                    <tr>
                        <th data-field="id">Subject Area</th>
                        <th data-field="name">Value</th>
                        <th data-field="price">Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>English</td>
                        <td>30</td>
                        <td>items</td>
                    </tr>
                    <tr>
                        <td>Filipino</td>
                        <td>15</td>
                        <td>items</td>
                    </tr>
                    <tr>
                        <td>General Information</td>
                        <td>10</td>
                        <td>items</td>
                    </tr>
                    <tr>
                        <td>Mathematics</td>
                        <td>30</td>
                        <td>items</td>
                    </tr>
                    <tr>
                        <td>Science</td>
                        <td>15</td>
                        <td>items</td>
                    </tr>
                <tr>
                    <td><strong>TOTAL</strong></td>
                    <td>100</td>
                    <td>items</td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="center">
                <a class="btn btn-large blue accent-3">START THE EXAM</a>
            </div>
        </div>
    </div>
{% endblock %}