{% extends 'base-nologout.html' %}
{% block title %} Login or Create an Account{% endblock %}

{% block main_content %}
<div class="row">
          <div class="container">
              <div class="card-panel white center">
                  <p class="grey-text fs-24">Bacolod City College</p>
                  <h1 class="green-text accent-3">Online Examination System</h1>
                  <div class="divider"></div>
                  <p>Before taking the online exams, you must create an account first or login if you already have one</p>
                  <a href="{{ url_for('login') }}" class="waves-effect waves-light btn-large blue accent-4">Sign-in</a>
                  <a href="{{ url_for('register') }}" class="waves-effect waves-light btn-large grey darken-3">Sign-up</a>
              </div>
          </div>
      </div>
{% endblock %}